* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

.welcome {
  background-color: #000;
  height: 100vh;
  max-width: 100%;
  width: 100vw;
  position: relative;
  overflow: hidden; }
  .welcome .text {
    padding: 10px;
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .welcome .text p {
      color: lime;
      font-family: "Courier", sans-serif;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      width: 30em;
      -webkit-animation: type 2s steps(60, end);
      animation: type 2s steps(60, end); }
    .welcome .text p:nth-of-type(2) {
      -webkit-animation: type2 3s steps(60, end);
      animation: type2 3s steps(60, end); }
      .welcome .text p:nth-of-type(2) .rect {
        color: lime;
        background-color: lime;
        font-size: 20px;
        width: 5px;
        -webkit-animation: blink 1s infinite;
        animation: blink 1s infinite; }
  .welcome .arrow {
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid lime;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: show 1s both;
    animation: show 1s both;
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }
    .welcome .arrow i {
      width: 100%;
      font-size: 40px;
      color: lime;
      text-align: center;
      text-shadow: 0 10px 0 lime;
      -webkit-animation: arrowMove 2.5s infinite;
      animation: arrowMove 2.5s infinite; }

.mobileMenu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3; }
  .mobileMenu .pulldownMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .mobileMenu .pulldownMenu div {
      color: lime;
      height: 0;
      line-height: 20vh;
      text-align: center;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.92);
      font-family: "Courier", sans-serif;
      font-size: 25px;
      -webkit-transition: .8s;
      -o-transition: .8s;
      transition: .8s;
      overflow: hidden;
      cursor: pointer; }
    .mobileMenu .pulldownMenu div.active {
      height: 20vh; }
  .mobileMenu .menuBar {
    max-width: 100%;
    height: 46px;
    line-height: 46px;
    background-color: rgba(0, 0, 0, 0.92);
    color: lime;
    position: relative; }
    .mobileMenu .menuBar p {
      width: 90%;
      font-family: "Courier", sans-serif;
      font-size: 15px;
      padding-left: 10px; }
      .mobileMenu .menuBar p span {
        cursor: pointer; }
    .mobileMenu .menuBar .hamburger {
      cursor: pointer;
      position: absolute;
      height: 20px;
      width: 35px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 10px;
      overflow: hidden; }
      .mobileMenu .menuBar .hamburger span {
        left: 50%;
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: lime;
        border-radius: 5px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
      .mobileMenu .menuBar .hamburger span:nth-of-type(1) {
        top: 5%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .mobileMenu .menuBar .hamburger span:nth-of-type(2) {
        top: 5%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .mobileMenu .menuBar .hamburger span:nth-of-type(3) {
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .mobileMenu .menuBar .hamburger span:nth-of-type(4) {
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .mobileMenu .menuBar .hamburger span:nth-of-type(5) {
        top: 95%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .mobileMenu .menuBar .hamburger span:nth-of-type(6) {
        top: 95%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .mobileMenu .menuBar .hamburger.x span:nth-of-type(1) {
      top: 5%;
      -webkit-transform: translate(-220%, -50%);
      -ms-transform: translate(-220%, -50%);
      transform: translate(-220%, -50%); }
    .mobileMenu .menuBar .hamburger.x span:nth-of-type(2) {
      top: 5%;
      -webkit-transform: translate(170%, -50%);
      -ms-transform: translate(170%, -50%);
      transform: translate(170%, -50%); }
    .mobileMenu .menuBar .hamburger.x span:nth-of-type(3) {
      top: 50%;
      -webkit-transform: translate(-220%, -50%);
      -ms-transform: translate(-220%, -50%);
      transform: translate(-220%, -50%); }
    .mobileMenu .menuBar .hamburger.x span:nth-of-type(4) {
      top: 50%;
      -webkit-transform: translate(170%, -50%);
      -ms-transform: translate(170%, -50%);
      transform: translate(170%, -50%); }
    .mobileMenu .menuBar .hamburger.x span:nth-of-type(5) {
      top: 95%;
      -webkit-transform: translate(-220%, -50%);
      -ms-transform: translate(-220%, -50%);
      transform: translate(-220%, -50%); }
    .mobileMenu .menuBar .hamburger.x span:nth-of-type(6) {
      top: 95%;
      -webkit-transform: translate(170%, -50%);
      -ms-transform: translate(170%, -50%);
      transform: translate(170%, -50%); }
    .mobileMenu .menuBar .hamburger.x2 span:nth-of-type(1) {
      top: 5%;
      -webkit-transform: translate(-220%, -50%);
      -ms-transform: translate(-220%, -50%);
      transform: translate(-220%, -50%); }
    .mobileMenu .menuBar .hamburger.x2 span:nth-of-type(2) {
      top: 5%;
      -webkit-transform: translate(170%, -50%);
      -ms-transform: translate(170%, -50%);
      transform: translate(170%, -50%); }
    .mobileMenu .menuBar .hamburger.x2 span:nth-of-type(3) {
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
    .mobileMenu .menuBar .hamburger.x2 span:nth-of-type(4) {
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg); }
    .mobileMenu .menuBar .hamburger.x2 span:nth-of-type(5) {
      top: 95%;
      -webkit-transform: translate(-220%, -50%);
      -ms-transform: translate(-220%, -50%);
      transform: translate(-220%, -50%); }
    .mobileMenu .menuBar .hamburger.x2 span:nth-of-type(6) {
      top: 95%;
      -webkit-transform: translate(170%, -50%);
      -ms-transform: translate(170%, -50%);
      transform: translate(170%, -50%); }

h2 {
  color: white;
  font-family: "Courier", sans-serif;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 50px;
  width: 100vw; }

h2.active {
  -webkit-animation: appear 1s both;
  animation: appear 1s both; }

.about {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .about div {
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    position: relative; }
  .about .imgMe {
    border-radius: 50%;
    overflow: hidden;
    background-image: url(/img/me.jpg);
    width: 300px;
    height: 300px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .about .imgMe.active {
    opacity: 1;
    background-size: 100%; }

.skills {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-color: black; }
  .skills .wrap {
    min-height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .skills .wrap h2 {
      color: black; }
    .skills .wrap h2.active {
      -webkit-animation: appear2 1s both;
      animation: appear2 1s both; }
    .skills .wrap div {
      width: 35vw;
      height: 39vw;
      background-repeat: no-repeat;
      background-size: 0;
      background-position: center;
      opacity: 0;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      padding-bottom: 10px; }
    .skills .wrap div.active {
      opacity: 1;
      background-size: 100%; }
    .skills .wrap div:nth-of-type(1) {
      background-image: url(/img/html.png); }
    .skills .wrap div:nth-of-type(2) {
      background-image: url(/img/css.png); }
    .skills .wrap div:nth-of-type(3) {
      background-image: url(/img/js.png); }
    .skills .wrap div:nth-of-type(4) {
      background-image: url(/img/jq.png); }
    .skills .wrap div:nth-of-type(5) {
      background-image: url(/img/sass.png); }
  .skills h3 {
    color: black;
    font-family: "Courier", sans-serif;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    width: 100vw;
    max-width: 100%;
    padding: 15px 0 15px 0; }
  .skills h3.active {
    -webkit-animation: appear2 1s both;
    animation: appear2 1s both; }
  .skills p {
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 0 20px 0 20px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .skills p.active {
    color: white; }
  .skills .wrapLearning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    overflow: hidden; }
    .skills .wrapLearning div {
      width: 35vw;
      height: 39vw;
      background-repeat: no-repeat;
      background-size: 0;
      background-position: center;
      opacity: 0;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .skills .wrapLearning div:nth-of-type(1) {
      background-image: url(/img/react.png);
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%); }
    .skills .wrapLearning div:nth-of-type(1).active {
      opacity: 1;
      background-size: 100%;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    .skills .wrapLearning div:nth-of-type(2) {
      background-image: url(/img/node.png);
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%); }
    .skills .wrapLearning div:nth-of-type(2).active {
      opacity: 1;
      background-size: 100%;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }

.contact {
  position: relative; }
  .contact h2 {
    color: black; }
  .contact .contactLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .contact .contactLinks div {
      width: 100vw;
      max-width: 100%;
      text-align: center;
      font-family: 'Courier', 'Raleway', sans-serif;
      padding: 10px 0 10px 0;
      font-size: 18px; }
      .contact .contactLinks div a {
        text-decoration: none;
        color: black; }
  .contact .map {
    width: 65vw;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .contact .map img {
      width: 100%; }
    .contact .map .dot {
      position: absolute;
      top: 40%;
      left: 70%;
      width: 120px; }
      .contact .map .dot .dotIn {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: black;
        border-radius: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-box-shadow: 0 0 10px 3px lime;
        box-shadow: 0 0 10px 3px lime;
        -webkit-animation: dotBlink 1.2s infinite;
        animation: dotBlink 1.2s infinite;
        animation-direction: alternate-reverse; }
      .contact .map .dot p {
        padding-left: 16px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif; }

@-webkit-keyframes dotBlink {
  to {
    -webkit-box-shadow: 0 0 0 0 lime;
    box-shadow: 0 0 0 0 lime; } }

@keyframes dotBlink {
  to {
    -webkit-box-shadow: 0 0 0 0 lime;
    box-shadow: 0 0 0 0 lime; } }

@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateY(-37px);
    transform: translateY(-37px); }
  100% {
    -webkit-transform: translateY(37px);
    transform: translateY(37px); } }

@keyframes arrowMove {
  0% {
    -webkit-transform: translateY(-37px);
    transform: translateY(-37px); }
  100% {
    -webkit-transform: translateY(37px);
    transform: translateY(37px); } }

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    color: white; }
  100% {
    opacity: 1;
    color: black; } }

@keyframes appear {
  0% {
    opacity: 0;
    color: white; }
  100% {
    opacity: 1;
    color: black; } }

@-webkit-keyframes appear2 {
  0% {
    opacity: 0;
    color: black; }
  100% {
    opacity: 1;
    color: white; } }

@keyframes appear2 {
  0% {
    opacity: 0;
    color: black; }
  100% {
    opacity: 1;
    color: white; } }

@-webkit-keyframes show {
  to {
    opacity: 1; } }

@keyframes show {
  to {
    opacity: 1; } }

@-webkit-keyframes type {
  from {
    width: 0; } }

@keyframes type {
  from {
    width: 0; } }

@-webkit-keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100%; } }

@-webkit-keyframes blink {
  to {
    opacity: .0; } }

@keyframes blink {
  to {
    opacity: .0; } }

@media (min-width: 600px) {
  .about {
    min-height: 60vh; }
  .skills .wrap div {
    width: 30vw;
    height: 32vw; }
  .skills .wrapLearning div {
    width: 30vw;
    height: 32vw; }
  .contact .map {
    width: 50vw; } }

@media (min-width: 800px) {
  .about {
    min-height: 60vh; }
  .skills .wrap div {
    width: 21vw;
    height: 23vw; }
  .skills .wrapLearning div {
    width: 21vw;
    height: 23vw; }
  .contact .map {
    width: 40vw; } }

@media (min-width: 1024px) {
  h2 {
    padding: 20px 0 20px 0;
    font-size: 40px; }
  .welcome .text p {
    font-size: 30px;
    padding-left: 40px; }
  .welcome .arrow:hover i {
    -webkit-animation-duration: .5s;
    animation-duration: .5s; }
  .mobileMenu .menuBar {
    background-color: black; }
    .mobileMenu .menuBar p {
      font-size: 25px; }
    .mobileMenu .menuBar .hamburger {
      display: none; }
  .mobileMenu .pulldownMenu {
    position: fixed;
    top: 0;
    right: 30px;
    height: 46px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 4;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 600px; }
    .mobileMenu .pulldownMenu div {
      height: 46px;
      line-height: 46px;
      background-color: black; }
    .mobileMenu .pulldownMenu div.active {
      height: 46px; }
    .mobileMenu .pulldownMenu div:hover {
      color: black;
      background-color: lime; }
  .about {
    min-height: 60vh; }
    .about .aboutText {
      padding: 30px 40px 30px 40px; }
      .about .aboutText p {
        font-size: 25px; }
  .skills {
    min-height: 50vh; }
    .skills .wrap {
      min-height: 40vh; }
      .skills .wrap div {
        width: 10vw;
        height: 12vw; }
    .skills .wrapLearning div {
      width: 10vw;
      height: 12vw; }
    .skills h3 {
      font-size: 30px; }
    .skills p {
      padding: 30px 40px 30px 40px;
      font-size: 25px; }
  .contact {
    padding-top: 20px; }
    .contact .contactLinks {
      padding-top: 84px;
      width: 50vw;
      float: left; }
      .contact .contactLinks div {
        font-size: 20px; }
    .contact .map {
      left: 75%;
      height: 300px;
      width: 290px; } }

@media (min-width: 1280px) {
  .skills {
    min-height: 30vh; }
    .skills .wrap {
      min-height: 30vh; }
      .skills .wrap div {
        width: 200px;
        height: 240px; }
    .skills .wrapLearning div {
      width: 200px;
      height: 240px;
      padding-top: 20px; }
    .skills .additionalSkillsP {
      padding: 20px; }
  .contact .map {
    width: 300px; } }
