* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.welcome {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden; }
  .welcome .text {
    padding: 10px;
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .welcome .text p {
      color: lime;
      font-family: "Courier", sans-serif;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      width: 30em;
      -webkit-animation: type 2s steps(60, end);
      animation: type 2s steps(60, end); }
    .welcome .text p:nth-of-type(2) {
      -webkit-animation: type2 3s steps(60, end);
      animation: type2 3s steps(60, end); }
      .welcome .text p:nth-of-type(2) .rect {
        color: lime;
        background-color: lime;
        font-size: 20px;
        width: 5px;
        -webkit-animation: blink 1s infinite;
        animation: blink 1s infinite; }
  .welcome .arrow {
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid lime;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: show 1s both;
    animation: show 1s both;
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }
    .welcome .arrow i {
      width: 100%;
      font-size: 40px;
      color: lime;
      text-align: center;
      text-shadow: 0 10px 0 lime;
      -webkit-animation: arrowMove 2.5s infinite;
      animation: arrowMove 2.5s infinite; }

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3; }
  .mobileMenu .pulldownMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .mobileMenu .pulldownMenu div {
      color: lime;
      height: 0;
      line-height: 20vh;
      text-align: center;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.92);
      font-family: "Courier", sans-serif;
      font-size: 25px;
      -webkit-transition: .8s;
      -o-transition: .8s;
      transition: .8s;
      overflow: hidden;
      cursor: pointer; }
    .mobileMenu .pulldownMenu div.active {
      height: 20vh; }
  .mobileMenu .menuBar {
    width: 100vw;
    height: 46px;
    line-height: 46px;
    background-color: rgba(0, 0, 0, 0.92);
    color: lime;
    position: relative; }
    .mobileMenu .menuBar p {
      font-family: "Courier", sans-serif;
      font-size: 15px;
      padding-left: 10px; }
      .mobileMenu .menuBar p span {
        cursor: pointer; }
    .mobileMenu .menuBar .hamburger {
      cursor: pointer;
      position: absolute;
      height: 20px;
      width: 35px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 10px;
      overflow: hidden; }
      .mobileMenu .menuBar .hamburger span {
        left: 50%;
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: lime;
        border-radius: 5px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
      .mobileMenu .menuBar .hamburger span:nth-of-type(1) {
        top: 5%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .mobileMenu .menuBar .hamburger span:nth-of-type(2) {
        top: 5%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .mobileMenu .menuBar .hamburger span:nth-of-type(3) {
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .mobileMenu .menuBar .hamburger span:nth-of-type(4) {
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .mobileMenu .menuBar .hamburger span:nth-of-type(5) {
        top: 95%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .mobileMenu .menuBar .hamburger span:nth-of-type(6) {
        top: 95%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .mobileMenu .menuBar .hamburger.x span:nth-of-type(1) {
      top: 5%;
      -webkit-transform: translate(-220%, -50%);
      -ms-transform: translate(-220%, -50%);
      transform: translate(-220%, -50%); }
    .mobileMenu .menuBar .hamburger.x span:nth-of-type(2) {
      top: 5%;
      -webkit-transform: translate(170%, -50%);
      -ms-transform: translate(170%, -50%);
      transform: translate(170%, -50%); }
    .mobileMenu .menuBar .hamburger.x span:nth-of-type(3) {
      top: 50%;
      -webkit-transform: translate(-220%, -50%);
      -ms-transform: translate(-220%, -50%);
      transform: translate(-220%, -50%); }
    .mobileMenu .menuBar .hamburger.x span:nth-of-type(4) {
      top: 50%;
      -webkit-transform: translate(170%, -50%);
      -ms-transform: translate(170%, -50%);
      transform: translate(170%, -50%); }
    .mobileMenu .menuBar .hamburger.x span:nth-of-type(5) {
      top: 95%;
      -webkit-transform: translate(-220%, -50%);
      -ms-transform: translate(-220%, -50%);
      transform: translate(-220%, -50%); }
    .mobileMenu .menuBar .hamburger.x span:nth-of-type(6) {
      top: 95%;
      -webkit-transform: translate(170%, -50%);
      -ms-transform: translate(170%, -50%);
      transform: translate(170%, -50%); }
    .mobileMenu .menuBar .hamburger.x2 span:nth-of-type(1) {
      top: 5%;
      -webkit-transform: translate(-220%, -50%);
      -ms-transform: translate(-220%, -50%);
      transform: translate(-220%, -50%); }
    .mobileMenu .menuBar .hamburger.x2 span:nth-of-type(2) {
      top: 5%;
      -webkit-transform: translate(170%, -50%);
      -ms-transform: translate(170%, -50%);
      transform: translate(170%, -50%); }
    .mobileMenu .menuBar .hamburger.x2 span:nth-of-type(3) {
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
    .mobileMenu .menuBar .hamburger.x2 span:nth-of-type(4) {
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg); }
    .mobileMenu .menuBar .hamburger.x2 span:nth-of-type(5) {
      top: 95%;
      -webkit-transform: translate(-220%, -50%);
      -ms-transform: translate(-220%, -50%);
      transform: translate(-220%, -50%); }
    .mobileMenu .menuBar .hamburger.x2 span:nth-of-type(6) {
      top: 95%;
      -webkit-transform: translate(170%, -50%);
      -ms-transform: translate(170%, -50%);
      transform: translate(170%, -50%); }

h2 {
  color: white;
  font-family: "Courier", sans-serif;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 50px;
  line-height: 50px;
  width: 100vw; }

h2.active {
  -webkit-animation: appear 1s both;
  animation: appear 1s both; }

.about {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .about div {
    font-family: 'Raleway', sans-serif;
    padding: 20px 10px 0 10px;
    position: relative; }
  .about .imgMe {
    border-radius: 50%;
    overflow: hidden;
    background-image: url(/img/me.jpg);
    width: 300px;
    height: 300px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .about .imgMe.active {
    opacity: 1;
    background-size: 100%; }

.skills {
  width: 100vw;
  min-height: 100vh;
  background-color: black; }
  .skills .wrap {
    min-height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .skills .wrap h2 {
      color: black; }
    .skills .wrap div {
      width: 40vw;
      height: 44vw;
      background-repeat: no-repeat;
      background-size: 0;
      background-position: center;
      opacity: 0;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .skills .wrap div.active {
      opacity: 1;
      background-size: 100%; }
    .skills .wrap div:nth-of-type(1) {
      background-image: url(img/html.png); }
    .skills .wrap div:nth-of-type(2) {
      background-image: url(img/css.png); }
    .skills .wrap div:nth-of-type(3) {
      background-image: url(img/js.png); }
    .skills .wrap div:nth-of-type(4) {
      background-image: url(img/jq.png); }
    .skills .wrap div:nth-of-type(5) {
      background-image: url(img/sass.png); }
  .skills h3 {
    color: black;
    font-family: "Courier", sans-serif;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 50px;
    line-height: 50px;
    width: 100vw; }

@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateY(-37px);
    transform: translateY(-37px); }
  100% {
    -webkit-transform: translateY(37px);
    transform: translateY(37px); } }

@keyframes arrowMove {
  0% {
    -webkit-transform: translateY(-37px);
    transform: translateY(-37px); }
  100% {
    -webkit-transform: translateY(37px);
    transform: translateY(37px); } }

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    color: white; }
  100% {
    opacity: 1;
    color: black; } }

@keyframes appear {
  0% {
    opacity: 0;
    color: white; }
  100% {
    opacity: 1;
    color: black; } }

@-webkit-keyframes show {
  to {
    opacity: 1; } }

@keyframes show {
  to {
    opacity: 1; } }

@-webkit-keyframes type {
  from {
    width: 0; } }

@keyframes type {
  from {
    width: 0; } }

@-webkit-keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@-webkit-keyframes blink {
  to {
    opacity: .0; } }

@keyframes blink {
  to {
    opacity: .0; } }
