* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



section{
    width: 100vw;
    overflow: hidden;
}

.welcome {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    .text {

        padding: 10px;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        p {
            color: lime;
            font-family: "Courier", sans-serif;
            font-size: 20px;
            white-space: nowrap;
            overflow: hidden;
            width: 30em;
            animation: type 2s steps(60, end);
        }
        p:nth-of-type(2) {
            animation: type2 3s steps(60, end);
            .rect {
                color: lime;
                background-color: lime;
                font-size: 20px;
                width: 5px;
                animation: blink 1s infinite;
            }
        }

    }
    .arrow {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid lime;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        overflow: hidden;
        opacity: 0;
        animation: show 1s both;
        animation-delay: 2s;
        i {
            width: 100%;
            font-size: 40px;
            color: lime;
            text-align: center;
            text-shadow: 0 10px 0 lime;
            animation: arrowMove 2.5s infinite;
        }
    }
}

$menuBarHeight: 46px;
.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    .pulldownMenu {
        display: flex;
        flex-direction: column;
        div {
            color: lime;
            height: 0;
            line-height: 20vh;
            text-align: center;
            text-transform: uppercase;
            background-color: rgba(0, 0, 0, 0.92);
            font-family: "Courier", sans-serif;
            font-size: 25px;
            transition: .8s;
            overflow: hidden;
            cursor: pointer;
        }
        div.active {
            height: 20vh;
        }
    }
    .menuBar {
        width: 100vw;
        height: $menuBarHeight;
        line-height: 46px;
        background-color: rgba(0, 0, 0, 0.92);
        color: lime;
        position: relative;
        p {
            font-family: "Courier", sans-serif;
            font-size: 15px;
            padding-left: 10px;
            span {
                cursor: pointer;
            }

        } //HAMURGER TOKEN, span for = and x animation
        .hamburger {
            cursor: pointer;
            position: absolute;
            height: 20px;
            width: 35px;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            overflow: hidden;
            span {
                left: 50%;
                position: absolute;
                width: 80%;
                height: 2px;
                background-color: lime;
                border-radius: 5px;
                transition: .5s;
            }
            span:nth-of-type(1) {
                top: 5%;
                transform: translate(-50%, -50%);
            }
            span:nth-of-type(2) {
                top: 5%;
                transform: translate(-50%, -50%);
            }
            span:nth-of-type(3) {
                top: 50%;
                transform: translate(-50%, -50%);
            }
            span:nth-of-type(4) {
                top: 50%;
                transform: translate(-50%, -50%);
            }
            span:nth-of-type(5) {
                top: 95%;
                transform: translate(-50%, -50%);
            }
            span:nth-of-type(6) {
                top: 95%;
                transform: translate(-50%, -50%);
            }

        }
        .hamburger.x {
            span:nth-of-type(1) {
                top: 5%;
                transform: translate(-220%, -50%);
            }
            span:nth-of-type(2) {
                top: 5%;
                transform: translate(170%, -50%);
            }
            span:nth-of-type(3) {
                top: 50%;
                transform: translate(-220%, -50%);
            }
            span:nth-of-type(4) {
                top: 50%;
                transform: translate(170%, -50%);
            }
            span:nth-of-type(5) {
                top: 95%;
                transform: translate(-220%, -50%);
            }
            span:nth-of-type(6) {
                top: 95%;
                transform: translate(170%, -50%);
            }
        }
        .hamburger.x2 {
            span:nth-of-type(1) {
                top: 5%;
                transform: translate(-220%, -50%);
            }
            span:nth-of-type(2) {
                top: 5%;
                transform: translate(170%, -50%);
            }
            span:nth-of-type(3) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            span:nth-of-type(4) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            span:nth-of-type(5) {
                top: 95%;
                transform: translate(-220%, -50%);
            }
            span:nth-of-type(6) {
                top: 95%;
                transform: translate(170%, -50%);
            }
        }
    }
}

// ALL H2
h2 {
    color: white;
    font-family: "Courier", sans-serif;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 50px;
    line-height: 50px;
    width: 100vw;
}

h2.active {
    animation: appear 1s both;
}

.about {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    div {
        font-family: 'Raleway', sans-serif;
        padding: 20px 10px 0 10px;
        position: relative;
    }
    .imgMe {
        border-radius: 50%;
        overflow: hidden;
        background-image: url(/img/me.jpg);
        width: 300px;
        height: 300px;
        left: 50%;
        transform: translateX(-50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 120%;
        opacity: 0;
        transition: 1s;
    }
    .imgMe.active {
        opacity: 1;
        background-size: 100%;
    }
}

$logoSize: 35vw;
.skills {
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    .wrap {
        min-height: 90vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        h2 {
            color: black;
        }
        h2.active {
            animation: appear2 1s both;
        }
        div {
            width: $logoSize;
            height: $logoSize + 4vw;
            background-repeat: no-repeat;
            background-size: 0;
            background-position: center;
            opacity: 0;
            transition: .5s;
            padding-bottom: 10px;
        }
        div.active {
            opacity: 1;
            background-size: 100%;
        }
        div:nth-of-type(1) {
            background-image: url(/img/html.png);
        }
        div:nth-of-type(2) {
            background-image: url(/img/css.png);
        }
        div:nth-of-type(3) {
            background-image: url(/img/js.png);
        }
        div:nth-of-type(4) {
            background-image: url(/img/jq.png);
        }
        div:nth-of-type(5) {
            background-image: url(/img/sass.png);
        }
    }
    h3 {
        color: black;
        font-family: "Courier", sans-serif;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        text-transform: uppercase;
        height: 50px;
        line-height: 50px;
        width: 100vw;
    }
    h3.active {
        animation: appear2 1s both;
    }
    p {
        color: black;
        font-family: 'Raleway', sans-serif;
        padding: 0 10px 0 10px;
        transition: 1s;
    }
    p.active {
        color: white;
    }
    .wrapLearning {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: hidden;
        div {
            width: $logoSize;
            height: $logoSize + 4vw;
            background-repeat: no-repeat;
            background-size: 0;
            background-position: center;
            opacity: 0;
            transition: .5s;
        }
        div:nth-of-type(1) {
            background-image: url(/img/react.png);
            transform: translateX(-100%);
        }
        div:nth-of-type(1).active {
            opacity: 1;
            background-size: 100%;
            transform: translateX(0);
        }
        div:nth-of-type(2) {
            background-image: url(/img/node.png);
            transform: translateX(100%);
        }
        div:nth-of-type(2).active {
            opacity: 1;
            background-size: 100%;
            transform: translateX(0);
        }
    }
}

.contact {
    position: relative;
    h2 {
        color: black;
    }
    .contactLinks{
        display: flex;
        flex-direction: roe;
        flex-wrap: wrap;
        justify-content: space-between;
        div{
            a{
                text-decoration: none;
                color: black;
            }
            width: 100vw;
            text-align: center;
            font-family: 'Courier', 'Raleway', sans-serif;
            padding: 10px 0 10px 0;
            font-size: 18px;
        }
    }
    .map {
        width: 65vw;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
        img {
            width: 100%;
        }
        .dot {
            position: absolute;
            top: 40%;
            left: 70%;
            width: 120px;
            .dotIn {
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: black;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
                box-shadow: 0 0 10px 3px lime;
                animation: dotBlink 1.2s infinite;
                animation-direction: alternate-reverse;
            }
            p {
                padding-left: 16px;
                text-transform: uppercase;
                font-family: 'Raleway', sans-serif;
            }
        }
    }
}
@keyframes dotBlink{
    to{
        box-shadow: 0 0 0 0 lime;
    }
}

@keyframes arrowMove {
    0% {
        transform: translateY(-37px);
    }
    100% {
        transform: translateY(37px);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        color: white;
    }
    100% {
        opacity: 1;
        color: black;
    }
}

@keyframes appear2 {
    0% {
        opacity: 0;
        color: black;
    }
    100% {
        opacity: 1;
        color: white;
    }
}

@keyframes show {
    to {
        opacity: 1;
    }
}

@keyframes type {
    from {
        width: 0;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100;
    }
}

@keyframes blink {
    to {
        opacity: .0;
    }
}
